<html></html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="master.css"> -->

<style>
  body {background-image: url('https://tse2.mm.bing.net/th?id=OIP.77oTieaIY12X7NnKy0YIygHaCs&pid=Api&P=0&w=425&h=156');
          background-repeat: no-repeat; background-size: cover;}
</style>
</head>
<body>
  <h2>frame name</h2>
  <form  method="POST">
    {{form.as_p }}
    {% csrf_token %}
    <input type="submit"  value="Submit">
  </form>
<!--
    <h2>frame name</h2>

    <form action=""method="get">
        <label for="type company name"></label>
        <input type="Company Name" name="company name" placeholder="company name">
    </form>
    <h2>select model</h2>
    <select name="Frame model" id="frame" name="full frame">
        <option value="Full frame" >Full frame</option>
        <option value="Half Frame">half frame</option>
        <option value="Rimless/three piece">Rimless/three piece</option>
    </select>
    <select name="Size" id="cus_size">
        <option value="Male">Male
          <option value="50">50</option>
        <option value="52">52</option>
        <option value="54">54</option>
        </option>
        </select>
        <select class="" name="">


    <option value="Female" name="Female">female
    <option value="46" >46</option>
    <option value="48">48</option>
    <option value="50">50</option>
    </option>
</select>
<select class="" name="">


    <option value="Child">Child
        <option value="32">32</option>
            <option value="34">34</option>
            <option value="36">36</option>
    </option>
  </select> <br>
  <h2>Remark</h2>
    <textarea name="Remark" id="write" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit"> -->

</body>
</html>
